In [43]:
import json
import collections
import matplotlib.pyplot as plt
import numpy as np
import re
import csv
import pandas as pd
import nltk
from sklearn import preprocessing

In [33]:
with open('data/processed_trumptwitterarchive.txt', 'r') as data_file:
    json_data = data_file.read()

data = json.loads(json_data)

In [40]:
path = "data/baseline_data.csv"
with open(path,'w') as f:
    csv_write = csv.writer(f)
    top_20_words = ["china", "billion", "products", "democrats", "great","dollars","tariffs","country", "mueller","border",\
                     "president", "congressman", "people", "korea", "party", "years", "farmers", "going", "trade", "never"]

    csv_head = ["created_time","favorite_count", "retweet_count"] + top_20_words 
    csv_write.writerow(csv_head)
    
    for tweet in data:
        row = [tweet['created_at'], tweet['favorite_count'], tweet['retweet_count']]
        for w in top_20_words:
            row.append(1) if w in tweet['processed_text'] else row.append(0)
        csv_write.writerow(row)

In [42]:
df = pd.read_csv('data/baseline_data.csv')
df.head()

,created_time,favorite_count,retweet_count,china,billion,products,democrats,great,dollars,tariffs,...,president,congressman,people,korea,party,years,farmers,going,trade,never
0,Sat Nov 16 15:18:27 +0000 2019,15011,4301,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,Sat Nov 16 13:56:23 +0000 2019,0,9149,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Sat Nov 16 13:51:34 +0000 2019,24555,7311,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Sat Nov 16 13:08:14 +0000 2019,30751,10699,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Sat Nov 16 06:03:27 +0000 2019,0,10084,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0